*{
    margin: 0px;
    padding: 0px;
}

/* HEADER */

header{
    background-color: white /*rgb(86, 93, 71); */;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    border-bottom: 0.5px rgba(0, 0, 0, 0.157) solid;
}

.logo{
    /*border: 5px rgb(135, 135, 251) solid;
    margin: 1px;*/
    margin: 0px 0px 0px 20px;
    width: 6%;
    
}

.logo img{
    width: 100%;
}

.nav-indice{
    margin-right: 75px;
    list-style: none;
}

.nav-indice li{
    display: inline-block;
    padding: 5px 20px;
 }
 
 .nav-indice li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.indice{
    background-color: rgba(128, 128, 128, 0.342);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 40px;
}

.indice:hover{
    transform: scale(1.2);
}


/* INDEX */

.inicio{
    background-image: url(../imagenes/Person-studying-at-desk.png);
    background-size: cover; 
    height: 60vw;
}

.nosotros{
    height: 700px;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.nosotros > h1{
    margin-top: 300px;
    font-weight: 100px;
    font-size: xx-large;
}

.asignaturas{
    margin-left: 4vw;
    width: 90vw;
    background-color: rgba(234, 172, 157, 0.356);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: space-between;
}

.asignaturas > div{
    width: 50%;
    justify-content: center;
    min-width: 400px;
}

.secundaria{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: repeat(7,100px);
}

.item{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.item > i{
    margin: 15px;
} 

.fa-3x {
    color: rgb(113, 111, 129) !important;
}

.item1{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.universidad{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: repeat(7,100px);
}

.item2{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
}


/* PROFESORES */

.profes{
    margin: 50px 0px 50px 0px;
    width: 95vw;
    height: 40vw;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 2fr 2fr;
    justify-content: space-evenly;
    align-content: center;
}

.profes > div{
    background-color: rgba(241, 206, 145, 0.205);
    border-radius: 20px;
    margin: 10px;
}


/* CONTACTO */


footer{
    background-color: grey;
}

